.photo-grid {
    inline-size: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-auto-rows: 361px;
    column-gap: 17px;
    row-gap: 20px;
    color: black;
    padding-inline-start: 19px;
    padding-inline-end: 19px;
    box-sizing: border-box;
}