.form__save {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 2px;
    padding: 0;
    background: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    inline-size: 100%;
    max-inline-size: 358px;
    min-block-size: 50px;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.form__save:hover {
    opacity: 0.8;
    cursor: pointer;
}

.form__save:disabled {
    background: transparent;
    color: black;
    border: 1px solid #000000;
    opacity: 0.2;
    cursor: default;
}

@media screen and (max-width: 425px) {
    .form__save {
        font-size: 14px;
        line-height: 17px;
        min-block-size: 46px;

    }
}