.popup__form-container {
    margin: auto;
    position: relative;
    z-index: 3;
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    inline-size: 100%;
    max-inline-size: 430px;
    min-block-size: 330px;
    padding-block-start: 34px;
    padding-block-end: 37px;
    padding-inline-start: 36px;
    padding-inline-end: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}




