.photo-grid__like-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    inline-size: 22px;
    block-size: 19px;
    background-color: transparent;
    background-image: url(../../../images/photo-grid/like_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.1s linear;
    margin-block-end: 3px;
}

.photo-grid__like-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}